:root {
    --clr-one:#ffffff;
    --clr-black:#000000;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
video {
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}
.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: var(--clr-one);
    z-index: 2;
}
.showcase header {
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 4rem 10rem;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
}
.logo {
    text-transform: uppercase;
    cursor: pointer;
}
.toggle {
    background-image: url(../assets/menu-24px.svg);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 30px;
    object-fit: cover;
    background-position: center;
    cursor: pointer;
    position: relative;
}
.toggle.active {
    background-image: url(../assets/times-solid.svg);
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position: center;
    object-fit: cover;
}
.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   /*  background-color: #03a8f460; */
   background-color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: overlay;
}
.text {
    position: relative;
    z-index: 10;
}
.text h2 {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3 {
    font-size: 4em;
    line-height: 1em;
    text-transform: uppercase;
}
.text p {
    font-size: 1.1em;
    margin: 2rem 0;
    font-weight: 400;
    min-width: 700px;
}
.text a {
    display: inline-block;
    font-size: 1em;
    background-color: var(--clr-one);
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
}
.text a:hover {
    color: var(--clr-one);
}
/* .menu {
    
} */